// COLORS
// $black-color       : $black,
// $white-color       : $white,

$primary-color      : #FFCB0B;
$secondary-color    : #3B3B3A;
$font-color         : #7F7F7D;
$secondary-d-color  : #333333;   // dark
$secondary-ul-color : #E6E6E6;   // ultra light
$secondary-l-color  : #BBBBBB;   // light
$link-color			: $secondary-color;
