 // Some special margin utils
 .m-auto {
 	margin: auto !important;
 }

 .mt-auto,
 .my-auto {
 	margin-top: auto !important;
 }

 .mr-auto,
 .mx-auto {
 	margin-right: auto !important;
 }

 .mb-auto,
 .my-auto {
 	margin-bottom: auto !important;
 }

 .ml-auto,
 .mx-auto {
 	margin-left: auto !important;
 }
