// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($background, $border, $hover-background: darken($background, 7.5%), $hover-border: darken($border, 10%)) {
	@include box-shadow($btn-box-shadow);
	@include gradient-bg($background);
	@include hover {
	  @include gradient-bg($hover-background);
	  border-color: $hover-border;
	  color: color-yiq($hover-background);
	}
	border-color: $border;
	color: color-yiq($background);


	// Disabled comes first so active can properly restyle
	&.disabled,
	&:disabled {
	  background-color: $background;
	  border-color: $border;
	  color: color-yiq($background);
	}

	&.active {
		background-color: $hover-background;
		color: color-yiq($hover-background);
	}
  }
