/* ==========================================================================
    GRIDLEX
    Just a Flexbox Grid System - v. 2.7.1
========================================================================== */
@import 'gridlex/src/gridlex-vars';

// Gridlex Breakpoint = Bootstrap
$gl-mq-list: (
	lg: 1200px,
	md: 992px,
	sm: 768px,
	xs: 576px
);

@import 'gridlex/src/gridlex-preprocessing';
@import 'gridlex/src/gridlex-mixins';
@import 'gridlex/src/gridlex-classes';

